---
const { text = "Ok", red=false } = Astro.props
---

<button class="bg-blue-400 hover:bg-blue-600 text-white rounded px-2 pb-1 transition-colors"
class:list={[{"bg-red-600 hover:bg-red-900": red}]}

>
    <slot name="icon"/>
    { text }
    <slot name="message"/>
</button>